@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply text-green
}

.active svg {
    @apply text-green
}

/* Barre de défilement */
::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    /* Presque transparente */
}

::-webkit-scrollbar-thumb {
    background-color: #222222;
    /* Couleur verte similaire à Spotify */
    border-radius: 10px;
    /* Coins arrondis */
}

::-webkit-scrollbar-track {
    background-color: transparent;
    /* Fond transparent */
}

.card-sh {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
    height: 220px;
}

.card-albm {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
}


/* collapse transition */
.ReactCollapse--collapse {
    transition: height 500ms ease;
}